* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background: #66ccaa;
}

.container {
  padding: 1rem;
}

ul {
  padding-top: 1rem;
  list-style: none;

  li {
    padding: .5rem;
  }
}

a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
